<form name="form" novalidate class="registration-form">
    <div class="form-header">
        <h4>Register for playing</h4>
    </div>

    <div class="alert alert-warning" ng-show="$ctrl.registrationError">
        {{$ctrl.registrationError}}
    </div>
    <div class="alert alert-danger" ng-show="$ctrl.exceptionError">
        {{$ctrl.exceptionError}}
    </div>

    <div class="alert alert-info">Please enter your details</div>

    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" name="username" type="text" ng-model="$ctrl.player.username" required autofocus>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" name="age" type="number" ng-model="$ctrl.player.age" required>
    </div>

    <div class="form-group">
        <button class="btn btn-primary register" ng-click="$ctrl.register()" ng-disabled='form.$invalid'>Register</button>
        <button class="btn clear" ng-click="$ctrl.clearForm()">Clear</button>
        <button class="btn btn-warning cancel" ng-click="$ctrl.cancel()">Cancel</button>
    </div>

</form>
